{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows"> 
    {%for i in range(0, len)%} 
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ shows[i][1] }}" alt="Artist Image" />
            <h4>{{ shows[i][0]}}</h4>
            <h5><a href="/artists/{{ shows[i][2] }}">{{ shows[i][3] }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ shows[i][4] }}">{{ shows[i][5] }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}